<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Install Package</h3>
    </div>
    <?php if (isset($error)) {?>
    <div class="alert">
        <h4>Warning!</h4>
        <?php echo $error;?>
    </div>
    <?php }?>
    <form method="post">
        <fieldset>
            <div class="form-group">
                <label for="">Zip URL</label>
                <input class="form-control" type="text" name="zip-url">
            </div>
            <div class="form-group pull-right">
                <a href="?module=hoobr-packages&amp;action=main" class="btn btn-default">Cancel</a>
                or
                <input class="btn btn-primary" type="submit" value="Install"></input>
                <input type="hidden" name="module" value="hoobr-packages"></input>
                <input type="hidden" name="action" value="install"></input>
                <input type="hidden" name="hoobr-package-action" value="install"></input>
            </div>
        </fieldset>
    </form>
</div>