<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Packages</h3>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Package Name</th>
				<th>Type</th>
				<th>Version</th>
				<th>Quality</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($list as $item) {?>
			<tr>
				<td>
					<a href="?page=admin&amp;module=<?php echo $item["name"];?>&action=main"><?php echo $item["name"];?></a>
				</td>
				<td>
					<?php echo $item["config"]["hoobr"]["type"];?>
				</td>
				<td>
					<?php echo $item["version"];?>
				</td>
				<td>
					0%
				</td>
				<td>
					<?php if ($item["config"]["hoobr"]["core"] !== "true") {?>
					<a href="?page=admin&amp;module=hoobr-packages&amp;action=uninstall&amp;package-name=<?php echo $item["name"];?>" class="btn btn-danger btn-mini">Uninstall</a>
					<?php }?>
				</td>
			</tr>
			<?php }?>
		</tbody>
	</table>
	<a href="?page=admin&amp;module=hoobr-packages&amp;action=install" class="btn btn-primary">Install a package</a>
</div>