<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Uninstall Package</h3>
    </div>
            
    <form method="post">
        <fieldset>
            <?php if ($error) {?>
            <div class="alert">
                <h4>Error!</h4>
                There has been an error, the package <b><?php echo $packageName;?></b> is not installed?
            </div>
            <?php } else {?>
            <div class="alert alert-danger">
                <h4>Warning!</h4>
                Are you sure you want to uninstall <b><?php echo $packageName;?></b>?
            </div>
            <?php }?>
            <div class="form-group pull-right">
                <a href="?page=admin&amp;module=hoobr-packages&amp;action=main" class="btn btn-default">Cancel</a>
                <?php if (!$error) {?>
                or
                <input class="btn btn-primary" type="submit" value="Uninstall"></input>
                <input type="hidden" name="page" value="admin"></input>
                <input type="hidden" name="module" value="hoobr-packages"></input>
                <input type="hidden" name="action" value="uninstall"></input>
                <input type="hidden" name="confirm" value="true"></input>
                <input type="hidden" name="package-name" value="<?php echo $packageName;?>"></input>
                <?php }?>
            </div>
        </fieldset>
    </form>
</div>